<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Listagem de Professores</title>
</head>
<body>

	<h4>Listagem de Professores</h4>

	<br>
	<a href="/">Voltar Para o Index</a>
	<br>
	<a href="/exibirProfessor">Pagina do Professor</a>
	<br>
	<a href="/exibirFormProfessor">Formulario do Professor</a>
	<br>

	<div>
		<table>
			<tr>
				<th>codigo</th>
				<th>cpf</th>
				<th>data de nascimento</th>
				<th>email</th>
				<th>none</th>
				<th>telefone</th>
				<th>formação</th>
				<th>instituição</th>
				<th>ações</th>
			</tr>
			<tr th:each="cont : ${listarProfessor}">
				<td th:text="${cont.codigo}"></td>
				<td th:text="${cont.cpf}"></td>
				<td th:text="${cont.dataNascimento}">
				<td th:text="${cont.email}">
				<td th:text="${cont.nome}">
				<td th:text="${cont.telefone}">
				<td th:text="${cont.formacao}">
				<td th:text="${cont.instituicao}">
				<td><a th:href="|exibirAlterarProfessor?codigo=${cont.codigo}|">alterar</a></td>
				<td><a th:href="|excluirProfessor?codigo=${cont.codigo}|">excluir</a></td>
			</tr>
		</table>
		<hr />
	</div>

	<br>

</body>
</html>