<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Formulario Salvar Coordenador</title>
</head>
<body>

	<h4>Formulario Salvar Coordenador</h4>

	<br>
	<a href="/">Voltar Para o Index</a>
	<br>
	<a href="/exibirCoordenador">Pagina do Coordenador</a>
	<br>
	<a href="/listarCoordenadores">Lista de Coordenadores</a>
	<br>

	<form action="/salvarCoordenador" method="post">

		<label for="nome">Nome:</label><br> <input type="text" id="nome"
			name="nome"><br> <label for="email">Email:</label><br>

		<input type="text" id="email" name="email"><br> <label
			for="telefone">felefone:</label><br> <input type="text"
			id="telefone" name="telefone"><br> <label for="cpf">cpf:</label><br>

		<input type="text" id="cpf" name="cpf"><br> <label
			for="dataNascimento">data de nascimento:</label><br> <input
			type="date" id="dataNascimento" name="dataNascimento"><br>

		<label for="foto">foto:</label><br> <input type="file" id="foto"
			name="foto"><br> <label for="formacao">formação:</label><br>
		<SELECT name="formacao">
			<option th:each="sit : ${enum_formacao}" th:value="${sit}"
				th:text="${sit}">
		</SELECT><br> <label for="instituicao">instituição:</label><br> <input
			type="text" id="instituicao" name="instituicao"><br> <br>
		<button type="submit">Salvar</button>
	</form>

	<br>

</body>
</html>