<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Listagem de Turmas</title>
</head>
<body>

	<h4>Listagem de Turmas</h4>

	<br>
	<a href="/">Voltar Para o Index</a>
	<br>
	<a href="/exibirTurma">Pagina da Turma</a>
	<br>
	<a href="/exibirFormTurma">Formulario da Turma</a>
	<br>

	<div>
		<table>
			<tr>
				<th>codigo</th>
				<th>nome</th>
				<th>ano</th>
				<th>ações</th>
			</tr>
			<tr th:each="cont : ${listarTurma}">
				<td th:text="${cont.codigo}"></td>
				<td th:text="${cont.nome}"></td>
				<td th:text="${cont.ano}">
				<td><a th:href="|exibirAlterarTurma?codigo=${cont.codigo}|">alterar</a></td>
				<td><a th:href="|excluir?Turmacodigo=${cont.codigo}|">excluir</a></td>
			</tr>
		</table>
		<hr />
	</div>

	<br>

</body>
</html>