<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Formulario Alterar Turma</title>
</head>
<body>

	<h4>Formulario Alterar Turma</h4>

	<br>
	<a href="/">Voltar Para o Index</a>
	<br>
	<a href="/exibirTurma">Pagina da Turma</a>
	<br>
	<a href="/exibirFormTurma">Formulario da Turma</a>
	<br>
	<a href="/listarTurmas">Lista de Turmas</a>
	<br>

	<form action="/salvarTurma" method="post" th:object="${turma}">

		<label for="nome">Nome:</label><br> <input type="text" id="nome"
			name="nome" th:field="*{nome}"><br> <label for="ano">ano:</label><br>

		<input type="date" id="ano" name="ano" th:field="*{ano}"> <br>
		<br>

		<button type="submit">alterar</button>
	</form>

</body>
</html>