<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>formulario salvar aluno</title>
</head>
<body>

	<form action="/salvarAluno" method="post">

		<label for="nome">Nome:</label><br> <input type="text" id="nome"
			name="nome"><br> <label for="email">Email:</label><br>

		<input type="text" id="email" name="email"><br> <label
			for="telefone">felefone:</label><br> <input type="text"
			id="telefone" name="telefone"><br> <label for="cpf">cpf:</label><br>

		<input type="text" id="cpf" name="cpf"><br> <label
			for="dataNascimento">data de nascimento:</label><br> <input
			type="date" id="dataNascimento" name="dataNascimento"><br>

		<label for="foto">foto:</label><br> <input type="file" id="foto"
			name="foto"><br> <label for="pcd">pcd:</label><br>
		<SELECT name="categoriaPcd">
			<option th:each="sit : ${enum_categoriaPcd}" th:value="${sit}"
				th:text="${sit}">
		</SELECT><br> <label for="matricula">matricula:</label><br> <input
			type="text" id="matricula" name="matricula"><br> <br>
		<button type="submit">Salvar</button>
	</form>

</body>
</html>