<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Listagem de Alunos</title>
</head>
<body>

	<h4>Listagem de Alunos</h4>

	<br>
	<a href="/">Voltar Para o Index</a>
	<br>
	<a href="/exibirAluno">Pagina do Aluno</a>
	<br>
	<a href="/exibirFormAluno">Formulario do Aluno</a>
	<br>

	<div>
		<table>
			<tr>
				<th>codigo</th>
				<th>cpf</th>
				<th>data de nascimento</th>
				<th>email</th>
				<th>none</th>
				<th>telefone</th>
				<th>categoria PCD</th>
				<th>descrição</th>
				<th>matricula</th>
				<th>obs</th>
				<th>ações</th>
			</tr>
			<tr th:each="cont : ${listarAluno}">
				<td th:text="${cont.codigo}"></td>
				<td th:text="${cont.cpf}"></td>
				<td th:text="${cont.dataNascimento}">
				<td th:text="${cont.email}">
				<td th:text="${cont.nome}">
				<td th:text="${cont.telefone}">
				<td th:text="${cont.categoriaPcd}">
				<td th:text="${cont.descricao}">
				<td th:text="${cont.matricula}">
				<td th:text="${cont.obs}">
				<td><a th:href="|exibirAlterarAluno?codigo=${cont.codigo}|">alterar</a></td>
				<td><a th:href="|excluirAluno?codigo=${cont.codigo}|">excluir</a></td>
			</tr>
		</table>
		<hr />
	</div>
	<br>

</body>
</html>