<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pagina Inicial</title>
</head>
<body>

	<h4>Pagina Inicial</h4>

	<br>
	<a href="/exibirAluno">Pagina do Aluno</a>
	<br>
	<a href="/exibirProfessor">Pagina do Professor</a>
	<br>
	<a href="/exibirEscola">Pagina da Escola</a>
	<br>
	<a href="/exibirMateria">Pagina da Materia</a>
	<br>
	<a href="/exibirCoordenador">Pagina do Coordenador</a>
	<br>
	<a href="/exibirTurma">Pagina da Turma</a>
	<br>
	<a href="/exibirAdministrador">Pagina do administrador</a>
	<br>
	<a href="/exibirForum">Pagina do Forum</a>
	<br>
	<a href="/exibirComentario">Pagina de comentario</a>
	<br>
	<a href="/exibirPais">Pagina de Pais</a>
	<br>
	<a href="/exibirBoletim">Pagina de Boletim</a>
	<br>
	<a href="/exibirAtividade">Pagina de Atividade</a>
	<br>
	<a href="/exibirUsuario">Pagina do Usuario</a>
	<br>
	<a href="/exibirAula">Pagina de Aula</a>
	<br>

</body>
</html>