<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pagina Inicial</title>
</head>
<body>

	<h4>Pagina Inicial</h4>

	<br>
	<a href="/exibirAluno">Pagina do Aluno</a>
	<br>
	<a href="/exibirProfessor">Pagina do Professor</a>
	<br>
	<a href="/exibirEscola">Pagina da Escola</a>
	<br>
	<a href="/exibirMateria">Pagina da Materia</a>
	<br>
	<a href="/exibirCoordenador">Pagina do Coordenador</a>
	<br>
	<a href="/exibirTurma">Pagina da Turma</a>
	<br>

</body>
</html>